CONFIGS_PATH=./configs
CERTS_PATH=./certs
CERT_PATH=/app/certs/localhost.pem
CERT_KEYPATH=/app/certs/localhostPrivKey.pem
MAIN_SEED=true
MAIN_S3_FORCE_PATH_STYLE=true
MAIN_SYSTEM_ID=b72ae824-18c4-4f89-957e-5c4fca48535a
MAIN_SIGN_SECRET=SomeSecretPriceSignKey21

ANALYTICS_SEED_DB=false

PGQL_MAIN_DB=main
PGQL_ANALYTICS_DB=analytics

S3_HOST=minio
S3_PORT=9000

MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=adminpass
MINIO_SERVICE_USER=foo
MINIO_SERVICE_PASSWORD=foo12345
MINIO_IMAGES_BUCKET=images
MINIO_REGION=ru-1

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin