CONFIGS_PATH=./configs
CERTS_PATH=./certs

PGQL_USER=postgres
PGQL_PASSWORD=PleasKillMe21

MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=adminpass
MINIO_SERVICE_USER=foo
MINIO_SERVICE_PASSWORD=foo12345
MINIO_REGION=ru-1

REDIS_PASSWORD=RedisPass21

RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

OPENSEARCH_PASSWORD=N9v#Qp7!Lm2@Rz5$

S3_PORT=9000

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
