services:
  main.api:
    image: main.api
    build:
      context: .
      dockerfile: src/Services/Main/Main.Api/Dockerfile
    ports:
      - "4000:7292"
      - "4001:8080"
    volumes:
      - ./certs:/app/certs:ro
    environment:
      - ASPNETCORE_Kestrel__Certificates__Default__Path=${MAIN_CERT_PATH}
      - ASPNETCORE_Kestrel__Certificates__Default__Password=${MAIN_CERT_PASSWORD}
      - CERTS_PATH=${CERTS_PATH}
      - SEED_DB=${MAIN_SEED_DB}
      - SEED_ADMIN=${MAIN_SEED_ADMIN}
      - SEED_ADMIN_PASSWORD=${MAIN_SEED_ADMIN_PASSWORD}
      - SEED_ADMIN_LOGIN=${MAIN_SEED_ADMIN_LOGIN}
      - SEED_ADMIN_EMAIL=${MAIN_SEED_ADMIN_EMAIL}
      - REDIS_CONNECTION_STRING=${REDIS_HOST}:${REDIS_PORT},password=${REDIS_PASSWORD}
      - DB_CONNECTION_STRING=Host=${PGQL_HOST};Database=${PGQL_MAIN_DB};Username=${PGQL_USER};Password=${PGQL_PASSWORD}
      - RABBITMQ_HOST=amqp://${RABBITMQ_HOST}:${RABBITMQ_PORT}
      - RABBITMQ_USERNAME=${RABBITMQ_DEFAULT_USER}
      - RABBITMQ_PASSWORD=${RABBITMQ_DEFAULT_PASS}
      - S3_URL=http://${S3_HOST}:${S3_PORT}
      - S3_FORCE_PATH_STYLE=${MAIN_S3_FORCE_PATH_STYLE}
      - S3_LOGIN=${MINIO_SERVICE_USER}
      - S3_PASSWORD=${MINIO_SERVICE_PASSWORD}
      - S3_REGION=${MINIO_REGION}
      - S3_IMAGES_BUCKET=${MINIO_IMAGES_BUCKET}
      - GATEWAY_SUPER_KEY=${GATEWAY_SUPER_KEY}
      - SYSTEM_ID=${MAIN_SYSTEM_ID}
      - USE_HTTPS_REDIRECTION=${MAIN_USE_HTTPS_REDIRECTION}
      - SIGN_SECRET=${MAIN_SIGN_SECRET}
      - LOKI_URL=http://${LOKI_HOST}:${LOKI_PORT}
    networks:
      - backend-network
    depends_on:
      - pgql
      - redis
      - rabbitmq
    restart: unless-stopped

  search.api:
    image: search.api
    build:
      context: .
      dockerfile: Search.Api/Dockerfile
    ports:
      - "4007:7292"
      - "4008:8080"
    volumes:
      - ./certs:/app/certs:ro
      - search_api_data:/app/data
    environment:
      - ASPNETCORE_Kestrel__Certificates__Default__Path=${MAIN_CERT_PATH}
      - ASPNETCORE_Kestrel__Certificates__Default__Password=${MAIN_CERT_PASSWORD}
      - CERTS_PATH=${CERTS_PATH}
      - INDEX_FOLDER=/app/data
      - RABBITMQ_HOST=amqp://${RABBITMQ_HOST}:${RABBITMQ_PORT}
      - RABBITMQ_USERNAME=${RABBITMQ_DEFAULT_USER}
      - RABBITMQ_PASSWORD=${RABBITMQ_DEFAULT_PASS}
      - GATEWAY_SUPER_KEY=${GATEWAY_SUPER_KEY}
      - USE_HTTPS_REDIRECTION=${SEARCH_USE_HTTPS_REDIRECTION}
    networks:
      - backend-network

  pricing.api:
    image: pricing.api
    build:
      context: .
      dockerfile: src/Services/Pricing/Pricing.Api/Dockerfile
    ports:
      - "4005:7292"
      - "4006:8080"
    volumes:
      - ./certs:/app/certs:ro
    environment:
      - ASPNETCORE_Kestrel__Certificates__Default__Path=${MAIN_CERT_PATH}
      - ASPNETCORE_Kestrel__Certificates__Default__Password=${MAIN_CERT_PASSWORD}
      - CERTS_PATH=${CERTS_PATH}
      - REDIS_CONNECTION_STRING=${REDIS_HOST}:${REDIS_PORT},password=${REDIS_PASSWORD}
      - DB_CONNECTION_STRING=Host=${PGQL_HOST};Database=${PGQL_PRICING_DB};Username=${PGQL_USER};Password=${PGQL_PASSWORD}
      - RABBITMQ_HOST=amqp://${RABBITMQ_HOST}:${RABBITMQ_PORT}
      - RABBITMQ_USERNAME=${RABBITMQ_DEFAULT_USER}
      - RABBITMQ_PASSWORD=${RABBITMQ_DEFAULT_PASS}
      - GATEWAY_SUPER_KEY=${GATEWAY_SUPER_KEY}
      - USE_HTTPS_REDIRECTION=${PRICING_USE_HTTPS_REDIRECTION}
      - SIGN_SECRET=${PRICING_SIGN_SECRET}
      - SEED_DB=${PRICING_SEED_DB}
      - LOKI_URL=http://${LOKI_HOST}:${LOKI_PORT}
    networks:
      - backend-network
    depends_on:
      - pgql
      - redis
      - rabbitmq
    restart: unless-stopped

  gateway:
    image: gateway
    build:
      context: .
      dockerfile: src/Services/Gateway/Gateway/Dockerfile
    ports:
      - "4004:7292"
    volumes:
      - ./certs:/app/certs:ro
    environment:
      - ASPNETCORE_Kestrel__Certificates__Default__Path=${MAIN_CERT_PATH}
      - ASPNETCORE_Kestrel__Certificates__Default__Password=${MAIN_CERT_PASSWORD}
      - CERTS_PATH=${CERTS_PATH}
      - GATEWAY_SUPER_KEY=${GATEWAY_SUPER_KEY}
      - LOKI_URL=http://${LOKI_HOST}:${LOKI_PORT}
    networks:
      - backend-network
    restart: unless-stopped

  analytics.api:
    image: analytics.api
    build:
      context: .
      dockerfile: src/Services/Analytics/Analytics.Api/Dockerfile
    ports:
      - "4002:7292"
      - "4003:8080"
    volumes:
      - ./certs:/app/certs:ro
    environment:
      - ASPNETCORE_Kestrel__Certificates__Default__Path=${MAIN_CERT_PATH}
      - ASPNETCORE_Kestrel__Certificates__Default__Password=${MAIN_CERT_PASSWORD}
      - CERTS_PATH=${CERTS_PATH}
      - REDIS_CONNECTION_STRING=${REDIS_HOST}:${REDIS_PORT},password=${REDIS_PASSWORD}
      - DB_CONNECTION_STRING=Host=${PGQL_HOST};Database=${PGQL_ANALYTICS_DB};Username=${PGQL_USER};Password=${PGQL_PASSWORD}
      - RABBITMQ_HOST=amqp://${RABBITMQ_HOST}:${RABBITMQ_PORT}
      - RABBITMQ_USERNAME=${RABBITMQ_DEFAULT_USER}
      - RABBITMQ_PASSWORD=${RABBITMQ_DEFAULT_PASS}
      - SEED_DB=${ANALYTICS_SEED_DB}
      - GATEWAY_SUPER_KEY=${GATEWAY_SUPER_KEY}
      - USE_HTTPS_REDIRECTION=${ANALYTICS_USE_HTTPS_REDIRECTION}
      - LOKI_URL=http://${LOKI_HOST}:${LOKI_PORT}
    networks:
      - backend-network
    depends_on:
      - pgql
      - redis
      - rabbitmq
    restart: unless-stopped


  pgql:
    image: postgres-cron
    build:
      context: .
      dockerfile: .dockerfiles/pgql-cron/Dockerfile
    environment:
      POSTGRES_USER: ${PGQL_USER}
      POSTGRES_PASSWORD: ${PGQL_PASSWORD}
      POSTGRES_MULTIPLE_DATABASES: ${PGQL_MAIN_DB},${PGQL_ANALYTICS_DB},${PGQL_PRICING_DB}
    volumes:
      - pg_data:/var/lib/postgresql
      - ./init:/docker-entrypoint-initdb.d
      - ./init:/clear-expired-coef.sql
    command: >
      postgres
      -c shared_preload_libraries=pg_cron
      -c cron.database_name=${PGQL_MAIN_DB}
    networks:
      - backend-network
    ports:
      - "5432:5432"
    restart: unless-stopped

  redis:
    image: redis/redis-stack:latest
    command:
      - redis-stack-server
      - --maxmemory-policy
      - allkeys-lru
      - --active-expire-effort
      - "10"
      - --requirepass
      - ${REDIS_PASSWORD}
    volumes:
      - redis_data:/data
    networks:
      - backend-network
    ports:
      - "${REDIS_PORT}:6379"
    restart: unless-stopped

  rabbitmq:
    image: rabbitmq:3-management
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    ports:
      - "15672:15672"
      - "${RABBITMQ_PORT}:5672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - backend-network
    restart: unless-stopped

  minio:
    image: quay.io/minio/minio:latest
    container_name: minio
    ports:
      - "${S3_PORT}:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    command: >
      server /data --console-address ":9001"
    restart: unless-stopped
    networks:
      - backend-network

  minio-init:
    image: minio/mc:latest
    container_name: minio-init
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      sleep 5;
      mc alias set local http://minio:9000 ${MINIO_ROOT_USER} ${MINIO_ROOT_PASSWORD};
      mc mb -p local/${MINIO_IMAGES_BUCKET};
      mc anonymous set public local/${MINIO_IMAGES_BUCKET};
      mc ${MINIO_ROOT_USER} user add local ${MINIO_SERVICE_USER} ${MINIO_SERVICE_PASSWORD};
      mc ${MINIO_ROOT_USER} policy attach local readwrite --user ${MINIO_SERVICE_USER};
      exit 0;
      "
    networks:
      - backend-network

  loki:
    image: grafana/loki:latest
    container_name: loki
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    networks:
      - backend-network
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    ports:
      - "9090:9090"
    networks:
      - backend-network
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_USER=${GRAFANA_ADMIN_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_ADMIN_PASSWORD}
    networks:
      - backend-network
    depends_on:
      - loki
      - prometheus
    restart: unless-stopped



networks:
  backend-network:
    driver: bridge

volumes:
  pg_data:
  redis_data:
  rabbitmq_data:
  minio_data:
  grafana_data:
  search_api_data: