version: "3.9"

services:
  main.api:
    image: main.api
    build:
      context: .
      dockerfile: src/Services/Main/Main.Api/Dockerfile
    ports:
      - "57005:7292"
      - "57015:8080"
    volumes:
      - ./certs:/app/certs:ro
    environment:
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/app/certs/localhost.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=PleasKillMe.21
    networks:
      - backend-network
    depends_on:
      - pgql
      - redis
      - rabbitmq
    restart: unless-stopped

  analytics.api:
    image: analytics.api
    build:
      context: .
      dockerfile: src/Services/Analytics/Analytics.Api/Dockerfile
    ports:
      - "57004:7292"
      - "57014:8080"
    volumes:
      - ./certs:/app/certs:ro
    environment:
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/app/certs/localhost.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=PleasKillMe.21
    networks:
      - backend-network
    depends_on:
      - pgql
      - redis
      - rabbitmq
    restart: unless-stopped

  gateway:
    image: gateway
    build:
      context: .
      dockerfile: src/Services/Gateway/Gateway/Dockerfile
    ports:
      - "57006:8081"
    volumes:
      - ./certs:/app/certs:ro
    environment:
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/app/certs/localhost.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=PleasKillMe.21
    networks:
      - backend-network
    depends_on:
      - main.api
      - analytics.api
    restart: unless-stopped
  
  pgql:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: PleasKillMe21
    volumes:
      - pg_data:/var/lib/postgresql
    networks:
      - backend-network
    ports:
      - "5432:5432"
    restart: unless-stopped

  redis:
    image: redis:latest
    command: >
      redis-server
      --maxmemory-policy allkeys-lru
      --active-expire-effort 10
    volumes:
      - redis_data:/data
    networks:
      - backend-network
    ports:
      - "6379:6379"
    restart: unless-stopped
  
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "15672:15672"
      - "5672:5672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - backend-network
    restart: unless-stopped

networks:
  backend-network:
    driver: bridge

volumes:
  pg_data:
  redis_data:
  rabbitmq_data:
