version: "3.9"

services:
  main.api:
    image: main.api
    build:
      context: .
      dockerfile: src/Services/Main/Main.Api/Dockerfile
    ports:
      - "25555:7292"
      - "57115:8080"
    volumes:
      - ./certs:/app/certs:ro
    environment:
      - ASPNETCORE_Kestrel__Certificates__Default__Path=${MAIN_CERT_PATH}
      - ASPNETCORE_Kestrel__Certificates__Default__Password=${MAIN_CERT_PASSWORD}
      - CERTS_PATH=${CERTS_PATH}
      - SEED_DB=${MAIN_SEED_DB}
      - SEED_ADMIN=${MAIN_SEED_ADMIN}
      - SEED_ADMIN_PASSWORD=${MAIN_SEED_ADMIN_PASSWORD}
      - SEED_ADMIN_LOGIN=${MAIN_SEED_ADMIN_LOGIN}
      - REDIS_CONNECTION_STRING=redis:6379,password=${REDIS_PASSWORD}
      - DB_CONNECTION_STRING=Host=pgql;Database=${PGQL_MAIN_DB};Username=${PGQL_USER};Password=${PGQL_PASSWORD}
      - RABBITMQ_HOST=amqp://rabbitmq:5672
      - RABBITMQ_USERNAME=${RABBITMQ_DEFAULT_USER}
      - RABBITMQ_PASSWORD=${RABBITMQ_DEFAULT_PASS}
      - S3_URL=http://minio:9000
      - S3_FORCE_PATH_STYLE=${MAIN_S3_FORCE_PATH_STYLE}
      - S3_LOGIN=${MINIO_SERVICE_USER}
      - S3_PASSWORD=${MINIO_SERVICE_PASSWORD}
      - S3_REGION=${MINIO_REGION}
      - S3_IMAGES_BUCKET=${MINIO_IMAGES_BUCKET}
      - GATEWAY_SUPER_KEY=${GATEWAY_SUPER_KEY}
      - SYSTEM_ID=${MAIN_SYSTEM_ID}
    networks:
      - backend-network
    depends_on:
      - pgql
      - redis
      - rabbitmq
    restart: unless-stopped

  analytics.api:
    image: analytics.api
    build:
      context: .
      dockerfile: src/Services/Analytics/Analytics.Api/Dockerfile
    ports:
      - "57104:7292"
      - "57124:8080"
    volumes:
      - ./certs:/app/certs:ro
    environment:
      - ASPNETCORE_Kestrel__Certificates__Default__Path=${MAIN_CERT_PATH}
      - ASPNETCORE_Kestrel__Certificates__Default__Password=${MAIN_CERT_PASSWORD}
      - CERTS_PATH=${CERTS_PATH}
      - REDIS_CONNECTION_STRING=redis:6379,password=${REDIS_PASSWORD}
      - DB_CONNECTION_STRING=Host=pgql;Database=${PGQL_ANALYTICS_DB};Username=${PGQL_USER};Password=${PGQL_PASSWORD}
      - RABBITMQ_HOST=amqp://rabbitmq:5672
      - RABBITMQ_USERNAME=${RABBITMQ_DEFAULT_USER}
      - RABBITMQ_PASSWORD=${RABBITMQ_DEFAULT_PASS}
      - SEED_DB=${ANALYTICS_SEED_DB}
      - GATEWAY_SUPER_KEY=${GATEWAY_SUPER_KEY}
    networks:
      - backend-network
    depends_on:
      - pgql
      - redis
      - rabbitmq
    restart: unless-stopped

  gateway:
    image: gateway
    build:
      context: .
      dockerfile: src/Services/Gateway/Gateway/Dockerfile
    ports:
      - "57106:7292"
    volumes:
      - ./certs:/app/certs:ro
    environment:
      - ASPNETCORE_Kestrel__Certificates__Default__Path=${MAIN_CERT_PATH}
      - ASPNETCORE_Kestrel__Certificates__Default__Password=${MAIN_CERT_PASSWORD}
      - CERTS_PATH=${CERTS_PATH}
      - GATEWAY_SUPER_KEY=${GATEWAY_SUPER_KEY}
    networks:
      - backend-network
    depends_on:
      - main.api
      - analytics.api
    restart: unless-stopped
  
  pgql:
    image: postgres:latest
    environment:
      POSTGRES_USER: ${PGQL_USER}
      POSTGRES_PASSWORD: ${PGQL_PASSWORD}
      POSTGRES_MULTIPLE_DATABASES: ${PGQL_MAIN_DB},${PGQL_ANALYTICS_DB}
    volumes:
      - pg_data:/var/lib/postgresql
      - ./init:/docker-entrypoint-initdb.d
    networks:
      - backend-network
    ports:
      - "5432:5432"
    restart: unless-stopped

  redis:
    image: redis:latest
    command:
      - redis-server
      - --maxmemory-policy
      - allkeys-lru
      - --active-expire-effort
      - "10"
      - --requirepass ${REDIS_PASSWORD}
    volumes:
      - redis_data:/data
    networks:
      - backend-network
    ports:
      - "6379:6379"
    restart: unless-stopped
  
  rabbitmq:
    image: rabbitmq:3-management
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    ports:
      - "15672:15672"
      - "5672:5672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - backend-network
    restart: unless-stopped
  
  minio:
    image: quay.io/minio/minio:latest
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    command: >
      server /data --console-address ":9001"
    restart: unless-stopped
    networks:
      - backend-network

  minio-init:
    image: minio/mc:latest
    container_name: minio-init
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      sleep 5;
      mc alias set local http://minio:9000 ${MINIO_ROOT_USER} ${MINIO_ROOT_PASSWORD};
      mc mb -p local/${MINIO_IMAGES_BUCKET};
      mc anonymous set public local/${MINIO_IMAGES_BUCKET};
      mc ${MINIO_ROOT_USER} user add local ${MINIO_SERVICE_USER} ${MINIO_SERVICE_PASSWORD};
      mc ${MINIO_ROOT_USER} policy attach local readwrite --user ${MINIO_SERVICE_USER};
      exit 0;
      "
    networks:
      - backend-network


networks:
  backend-network:
    driver: bridge

volumes:
  pg_data:
  redis_data:
  rabbitmq_data:
  minio_data:
