name: Deploy

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      
      - name: Add known hosts
        run: ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts

      - name: Test SSH connection
        run: ssh -v ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} "echo OK"
      
      - name: Deploy
        run: |
          ssh ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} << 'EOF'
            set -e
            cd ${{ secrets.WORK_DIR }}
      
            git fetch --all
            git reset --hard origin/${{ secrets.MAIN_BRANCH }}
      
            docker compose --env-file default.env up -d --build
          EOF


      - name: Cleanup
        run: rm -rf ~/.ssh
